
html, body {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    display: table;
    margin: auto;
    background-image:url('img/dw24-tiger-05-sunflower.jpeg');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size:cover;
    background-position: 0%;
}

body {

    display: table-cell;
    vertical-align: middle;
    margin-top: 50px;
    font-family: "Gill Sans", sans-serif;
}

:root { 
    --cell-size : 40px; 
    --gap-size : 3px;
    --width-size :cal(var(--cell-size) + var(--gap-size)); 
    --container-size : cal(var(--width-size)*10)
}

.container{
    /* width:max-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 50px;
}


.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

.sub-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center ;
    align-content: stretch;
    gap: 150px;
}

.image {
    display: inline-block;
    background:url('./img/smiling.png');
    background-size: 70px;
    width:70px;
    height: 70px;
}

.bee-count {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.timer {
    display: inline-block;
    height: 40px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.grid {
    width: var(--container-size);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(10, auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 6px;
    background-color: rgb(255, 252, 169);
    border: 2px solid  rgb(75, 97, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.bee {
    display: none;
    background:url('./img/honeybee.png');
    width: var(--cell-size);
    height: var(--cell-size);
    background-size: var(--cell-size);
    background-color: rgb(245, 112, 55);
}

.empty{
    background-color: rgb(252, 239, 217);

}

.neighbored{
    background-color: rgb(254, 207, 137);
    text-align: center;
    font-size: 20px;
}

.bomb-count {
    display: none;
    text-align: center;
    justify-content: center;
    color: black; 
    font-size: 20px;
}


.game-state {
    
    display: none;
    flex-direction: column;
    justify-content: center ;
    align-content:center;
    gap: 30px;
    position: absolute;
    /* background-image: url('img/checker.jpeg'); */
    background-color: rgba(154, 98, 1, 0.584);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 100;
}

.game-state-text {
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-weight: 900;

}

.replay{
    display: inline-block;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100px;
    margin: 0;
    background-image: url('img/play.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100px;
}

.footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between ;
    align-content: stretch;
    gap: 50px;
}

.menu {
    display: inline;
    width: 60px;
    height: 60px;
    background:url('./img/gear.png');
    background-repeat: no-repeat;
    background-size: 60px;
}

.pin{
    display: inline;
    width: 60px;
    height: 60px;
    background:url('./img/pushpin.png');
    background-repeat: no-repeat;
    background-size: 60px;
}

